<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>${comments}列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/layui/css/admin.css" media="all">
</head>

<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form">
            <div class="layui-card-body">
                <div style="border-bottom: 1px solid #DDDDDD;margin: 10px 0px;">
                    <div class="layui-card-head">查询<span class="layui-font-auxi">&nbsp;</span>
                    </div>
                    <div class="layui-form" action="" lay-filter="component-form-group">
                        <div class="layui-form-item layui-form" style="margin-top: 7px;">
                            <div class="layui-form-item" style="margin-top: 7px;">
                                <div class="layui-item-lemo">
                                        #foreach($column in $columns)
                                            #if($column.isQuery == '1')
                                            <div class="layui-inline">
                                                #if($column.showType == 'input')
                                                    <div class="layui-title-lable">${column.comments}</div>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="name" placeholder="请输入${column.comments}" autocomplete="off" class="layui-input">
                                                    </div>
                                                #elseif($column.showType == 'select')
                                                    <div class="layui-title-lable">${column.comments}</div>
                                                    <div class="layui-input-inline">
                                                        <select type="text" name="${column.attrname}">
                                                            <option value="">请选择</option>
                                                            #foreach($dict in ${dicts.get($column.dictName)})
                                                                <option value="${dict.fieldValue}">${dict.valueComment}</option>
                                                            #end
                                                        </select>
                                                    </div>
                                                #elseif($column.showType == 'radio')
                                                    <div class="layui-title-lable">${column.comments}</div>
                                                    <div class="layui-input-inline">
                                                        <select type="text" name="${column.attrname}">
                                                            <option value="">请选择</option>
                                                            #foreach($dict in ${dicts.get($column.dictName)})
                                                                <option value="${dict.fieldValue}">${dict.valueComment}</option>
                                                            #end
                                                        </select>
                                                    </div>
                                                #elseif($column.showType == 'date')
                                                    <label class="layui-title-lable">操作时间</label>
                                                    <div class="layui-select-mete">
                                                        <div class="layui-input-inline" style="width: 90px;">
                                                            <input type="text" id="${column.attrname}-laydate-start" name="${column.attrname}-laydate-start" lay-filter="${column.attrname}-laydate-start" class="layui-input" placeholder="yyyy-MM-dd">
                                                        </div>
                                                        <div class="layui-input-inline" style="width: 20px;margin-right: 0;height: 32px;line-height: 32px;">
                                                            ~
                                                        </div>
                                                        <div class="layui-input-inline" style="width: 90px;">
                                                            <input type="text" id="${column.attrname}-laydate-end" name="${column.attrname}-laydate-end" lay-filter="${column.attrname}-laydate-end" class="layui-input" placeholder="yyyy-MM-dd">
                                                        </div>
                                                    </div>
                                                #end
                                            </div>
                                            #end
                                        #end

                                    <div class="layui-inline">
                                        <button class="layui-btn layui-btn-normal" lay-submit  lay-filter="LAY-user-front-search">
                                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                                        </button>
                                        <a class="layui-btn layui-btn-normal llw-reset" lay-submit="" lay-filter="LAY-app-reset" id="clean">
                                            重置
                                        </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 6px;text-align: left;">
                <button llw-permission="${moduleName}:${classname}:save" class="layui-btn layui-btn-normal"  data-type="add">添加</button>
            </div>
            <table class="layui-table" lay-data="{ url:'../../${moduleName}/${classname}/list.jspx', page:true, id:'table-result-list'}" lay-filter="table-result-list">
                <thead>
                <tr>
                    #foreach($column in $columns)
                        #if($column.isList == '1')
                            #if($column.dictName)
                                <th lay-data="{templet:'#${column.attrname}_templet'}">${column.comments}</th>
                            #else
                                <th lay-data="{field:'${column.attrname}'}">${column.comments}</th>
                            #end
                        #end
                    #end
                    <th lay-data="{title: '操作', width: 250, align:'center', fixed: 'right', toolbar: '#operatorTpl'}">操作</th>
                </tr>
                </thead>
            </table>

            #foreach($column in $columns)
                #if($column.isList == '1')
                    #if($column.dictName)
                        <script type="text/html" id="${column.attrname}_templet">
                            <span llw-dict-code="${column.dictName}" llw-dict-value="{{d.${column.attrname}}}"></span>
                        </script>
                    #end
                #end
            #end
            <script type="text/html" id="operatorTpl">
                <a llw-permission="${moduleName}:${classname}:info" class="font-color-btn" lay-event="info">详情</a>
                <a llw-permission="${moduleName}:${classname}:update" class="font-color-btn" lay-event="update">编辑</a>
                <a llw-permission="${moduleName}:${classname}:delete" class="font-color-btn" lay-event="delete">删除</a>
            </script>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../static/layui/' //静态资源所在路径
    }).extend({
        index: 'modules/index' //主入口模块
    }).use(['index', 'table','laydate','admin','code'], function() {
        var $ = layui.$,
            form = layui.form,
            admin = layui.admin,
            laydate = layui.laydate,
            table = layui.table;

        #foreach($column in $columns)
            alert('$column')
            #if($column.isQuery == '1' && $column.showType == 'date')
                var ${column.attrname}DateStart,${column.attrname}DateEnd;
                //开始日期
                ${column.attrname}DateStart = laydate.render({
                    elem: '#${column.attrname}-laydate-start'
                    ,type: 'date'
                    ,done: function(value, date){
                        //更新结束日期的最小日期
                            ${column.attrname}DateEnd.config.min = lay.extend({}, date, {
                             month: date.month - 1
                         });

                        //自动弹出结束日期的选择器
                            ${column.attrname}DateEnd.config.elem[0].focus();
                    }
                });

                //结束日期
                ${column.attrname}DateEnd = laydate.render({
                    elem: '#${column.attrname}-laydate-end'
                    ,type: 'date'
                    ,done: function(value, date){
                        //更新开始日期的最大日期
                            ${column.attrname}DateStart.config.max = lay.extend({}, date, {
                             month: date.month - 1
                         });
                    }
                });
            #end
        #end


        //监听搜索
        form.on('submit(LAY-user-front-search)', function(data) {
            var field = data.field;
            //执行重载
            table.reload('table-result-list', {
                page: {
                    curr: 1
                },
                where: field
            });
        });

        table.on('tool(table-result-list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'delete') {
                layer.confirm('确认要删除吗？', function(index) {
                    layui.util.ajax({
                        url: "../../${moduleName}/${classname}/delete.jspx",
                        data: {pk:data.${pk.attrname}},
                        success: function(res) {
                            table.reload('table-result-list'); //数据刷新
                            layer.close(index);
                        }
                    });

                });
            } else if(obj.event === 'update') {
                //----- 弹出修改订单窗口----
                layer.full(layer.open({
                    type: 2,
                    title: '编辑',
                    content: './info.html?pk=' + data.${pk.attrname},
                    maxmin: true,
                    area: ['500px', '450px'],
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submitID = 'LAY-front-submit',
                            submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function(data) {
                            var field = data.field; //获取提交的字段

                            //提交 Ajax 成功后，静态更新表格中的数据
                            layui.util.ajax({
                                url: "../../${moduleName}/${classname}/update.jspx",
                                data: field,
                                success: function(res) {
                                    table.reload('table-result-list'); //数据刷新
                                    layer.close(index); //关闭弹层
                                }
                            });

                        });

                        submit.trigger('click');
                    },
                    success: function(layero, index) {

                    }
                }));
                //-----  结束  ------
            }else if(obj.event === 'info') {
                //----- 弹出修改订单窗口----
                layer.full(layer.open({
                    type: 2,
                    title: '详情',
                    content: './info.html?pk=' + data.${pk.attrname},
                    maxmin: true,
                    area: ['800px', '650px'],
                    btn: ['取消'],
                    success: function(layero, index) {

                    }
                }));
                //-----  结束  ------
            }
        });
        //事件
        var active = {
            add: function() {
                layer.full(layer.open({
                    type: 2,
                    title: '添加',
                    content: './info.html',
                    maxmin: true,
                    area: ['500px', '450px'],
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submitID = 'LAY-front-submit',
                            submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function(data) {
                            var field = data.field; //获取提交的字段
                            //提交 Ajax 成功后，静态更新表格中的数据
                            layui.util.ajax({
                                url: "../../${moduleName}/${classname}/save.jspx",
                                data: field,
                                success: function(res) {
                                    table.reload('table-result-list'); //数据刷新
                                    layer.close(index); //关闭弹层
                                }
                            });
                            table.reload('table-result-list'); //数据刷新
                            layer.close(index); //关闭弹层
                        });
                        submit.trigger('click');
                    }
                }));
            }
        };

        $('.layui-btn.layui-btn-normal').on('click', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>